#{extends 'main.html' /}
#{set title:'Home' /}

<style>
    #sortable { list-style-type: none; margin: 0; padding: 0;}
    #sortable li {margin: 3px 3px 3px 0;font-size:0.8em; padding: 1px; float: left; width: 150px; height: 150px; text-align: center; }
    #sortable li div{border:1px solid;border-color:black;width:130px;height:140px;background:#FEF8BE;cursor: pointer;}
    .sortNum{border-bottom:1px solid black;width:130px;display:block;}
</style>

<ul id="sortable">
#{list items:items, as:'t'}
    <li><div class="border"><span class="sortNum"></span><br><input type="hidden" value="${t._id}" class="hiddenId"><span style="width:80px;">${t.name}</span><br><img width=80 src="${t.cover}"/></div></li>
#{/list}
</ul>

<script type="text/javascript">
    $(function() {
        $("#sortable").sortable({
            stop: function() {
                sortNum();
            }
        });
        $("#sortable").disableSelection();
        sortNum();
        function sortNum() {
            var num = 1;
            $("#sortable li").each(function() {
                $(this).find(".sortNum").html(num);
                num++;
            })
        }
    });
</script>