#{extends 'main.html' /}
#{set title:'电影列表' /}

<div class="index-nav index-nav-fixed">
    <div class="layout980">
        <ul>
            <li>拖动图片可以排序哦(⊙o⊙)</li>
            <li>
                <a href="javascript:;" class="topic-follow-btn" onclick="addMovie();">新增电影</a>
            </li>
            <li class="right">
                <a href="javascript:;" class="topic-follow-btn" onclick="saveOrder();">保存排序</a>
            </li>
        </ul>
    </div>
</div>
<ul id="sortable">
#{list items:items, as:'t'}
    <li id="${t.id}" no="${t.no}">
        <div class="nineGrid ">
            <div class="hd">
                <h4><a href="@{Application.detail}?id=${t.id}" title="${t.name}" target="_blank">${t.name}</a>(<span class="hl">${t.rate}分</span>)</h4>
            </div>
            <div class="bd clearfix">
                <a href="@{Application.detail}?id=${t.id}" target="_blank">
                    <img alt="${t.name}" title="${t.name}" src="@{Application.proxy}?url=${t.cover.urlEncode()}">
                </a>
            </div>
        </div>
    </li>
#{/list}
</ul>

<iframe id="fr_hidden" name="fr_hidden" style="display:none" src="about:blank"></iframe>
<div id="add-movie-form" title="创建新的电影" class="hide fieldset">
    <p class="validateTips">所有的项都是必填的</p>
    <form action="@{ajax.Movies.save}" target="fr_hidden" method="post" enctype="multipart/form-data">
        <input type="hidden" name="no" class="no">
        <table>
            <tr>
                <td class="title">名称</td>
                <td class="value"><input name="name"></td>
            </tr>
            <tr>
                <td class="title">封面图URL</td>
                <td class="value"><input name="cover"></td>
            </tr>
            <tr>
                <td class="title">封面标题</td>
                <td class="value"><input name="cover_title"></td>
            </tr>
            <tr>
                <td class="title">评分</td>
                <td class="value"><input name="rate"></td>
            </tr>
        </table>
    </form>
</div>

<script type="text/javascript">
    // 保存电影的顺序
    function saveOrder() {
        var data = [];
        $("#sortable li").each(function() {
            data.push($(this).attr("id") + "=" + $(this).attr("no"));
        });
        $.post("@{ajax.Movies.saveOrder}", {order: data.join(";")}, function(data) {
            if (data && data.status == "200") {
                alert("成功保存排序，界面将刷新。。。");
                window.location.reload();
            }
        })
    }

    // 新增电影
    function addMovie() {
        $( "#add-movie-form" ).dialog({
            autoOpen: true,
            width: 500,
            height: 350,
            modal: true,
            buttons: {
                "创建": function() {
                    $("#add-movie-form form").submit();
                    alert("创建后，请调整顺序再次点击‘保存顺序’");
                    window.location.reload();
                },
                "取消": function() {
                    $( this ).dialog( "close" );
                }
            },
            close: function() {
                $( this ).dialog( "close" );
            }
        });
    }

    $(document).ready(function() {
        $("#sortable").sortable({
            stop: function() {
                sortNum();
            }
        });
        $("#sortable").disableSelection();
        sortNum();
        function sortNum() {
            var num = 1;
            $("#sortable li").each(function() {
                $(this).attr("no", num);
                num++;
            })
        }
    });
</script>